.body{
    background-color: #CCEBF7;
}

/* Style for the box */
.content-box {
    background-color: #9FDDF7;
    padding: 20px;
    border: 1px solid #ccc;
    width: 600px;
    height: 510px;
    flex-shrink: 0;
}
  
/* Style for the paragraph text */
.content-box p {
    font-size: 16px;
}

/* Optional: Custom styles */
.container-fluid {
    margin-top: 20px;
}

/* Centering the form elements */
.form-group {
    text-align: left;
}

/* Styles for the title */
.h1 {
    color: #000;
    text-align: center;
    font-family: 'Merienda One', cursive; /* Pastikan font family sudah terpasang */
    font-size: 2em; /* Sesuaikan ukuran font */
    font-weight: bold; /* Bisa menggunakan bold untuk mempertegas judul */
    margin-top: 20px; /* Memberi jarak atas */
}
